NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_CONTRACT_ID=
# Hex-encoded WASM hash from `stellar contract install`
NEXT_PUBLIC_CONTRACT_WASM_HASH=
# Testnet USDC token contract address
NEXT_PUBLIC_USDC_TOKEN_ID=
# Protocol treasury Stellar address
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
